<div class="grid grid-flow-row auto-rows-max">
    <%= render 'shared/profile/project_item', 
        title: project.title,
        tech_stack: project.tech_stack,
        url: project.url,
        description: project.description
    %>
</div>